<!doctype html>
<html lang="{{ app.request.locale }}">
  <head>
    <meta charset="utf-8">

    <title>TCT Dev Kit</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    >

    {% block head_assets %}
      <TCT-HeadEntries/>
    {% endblock %}
  </head>

  <body>
    {% block page %}{% endblock %}

    {% block body_assets %}
      <TCT-BodyEntries/>
    {% endblock %}
  </body>
</html>
